// Variables
@import "../utils/variables";

/* MOBILE - MOBILE FIRST (max-width: 480px) */
.display_home {
  margin: 1rem;
  /* TABLETTE (min-width: 768px) */
  @media screen and (min-width: 768px) {
    margin: 2rem;
  }
  /* DEKSTOP (min-width: 900px) */
  @media screen and (min-width: 900px) {
    margin: 3rem;
  }
  @media screen and (min-width: 1440px) {
    margin: 5rem;
  }

  .banner_container {
    .backgroundImgHome {
      object-fit: cover;
      object-position: 100% 40%;
      /* DEKSTOP (min-width: 900px) */
      @media screen and (min-width: 900px) {
        object-position: 50% 25%;
      }
    }
  }
}
