// Mixins

@mixin mobileSliderArrow {
  position: absolute;
  top: 47%;
  z-index: 1;
  cursor: pointer;
  width: 11.7px;
  height: 20px;
  color: #ffffff;
}

@mixin desktopSliderArrow {
  position: absolute;
  top: 45%;
  z-index: 1;
  cursor: pointer;
  width: 30px;
  height: 55px;
  color: #ffffff;
}

@mixin desktopSliderArrowPosition {
  width: 47px;
  height: 79px;
  top: 39%;
}

@mixin flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
