// Police écriture
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font-family: "Montserrat", sans-serif;

// Couleurs sur la page
$primary-color: #ff6060;

// Footer

$color-text-white: #ffffff;

$background-black: #000000;
