// Police écriture
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font-family: "Montserrat", sans-serif;

// Couleurs sur la page
$primary-color: #ff6060;

$grey-withe-color: #f7f7f7;

$shadowCard: 0px 0px 14px 7px rgba(255, 96, 96, 0.7);

$color-saumon: #f79696;

$color-1: #ff6060;

// Footer

$color-text-white: #ffffff;

$background-black: #000000;

// Border
$mobile-radius: 10px;
$desktop-radius: 25px;
